# Archivos compilados
.class
bin
out
build

# Configuraciones de IDEs (Eclipse, IntelliJ, VSCode)
.metadata
.settings
.classpath
.project
.idea
.iml
.vscode

# Archivos del sistema operativo (MacWindows)
.DS_Store
Thumbs.db